.container{
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    display: grid;
    gap: 5px;
    grid-template: 450px 250px 250px/25% 33% 41%;
    grid-template-areas: "sidebar header header"
                         "sidebar main main"
                         "sidebar main main";

}
@media screen and (max-width: 500px){
    .container{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        display: grid;
        gap: 5px;
        grid-template: 60px 200px 200px 200px 200px 200px/100%;
        grid-template-areas: "sidebar"
                              "header"
                               "main"
                               "main"
                               "main"
                               "main";
    }

}
.sidebar {
    grid-area: sidebar;
}

.header{
    background-color: #F7F8F9;
    grid-area: header;
    padding: 110px 12% 90px 12%;
}
@media screen and (max-width: 500px){
    .header{
        padding: 38px 12% 33px 12%;
    }

}

.main{
    grid-area: main;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media screen and (max-width: 500px) {
    .main {
        grid-area: main;
        display: block;
    }
}
.a1{
    color: #012B55;
    text-decoration: none;
    font-family: bjpg;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}
.a2{
    font-size: 17px;
    line-height: 20px;
    color: #012B55;
    font-style: normal;
    font-weight: 600;
    font-family: bjpg;
    text-decoration: none;
}
.a3{
    color: #41576D;
    font-family: bjpg;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
}
.a4{
    color: #012B55;
    font-family: bjpg;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-decoration: none;
}

@media screen and (max-width: 500px){
    .a2, .a3, .a4{
        font-size:25px;
    }
}
.ul{
    list-style-type: none;
    margin: 0;
    padding-bottom: 15px;
    padding-left: 0;
}
.li{
    padding-bottom: 10px;
}
.fli{
    padding-bottom: 15px;
}
.title{
    padding-bottom: 40px;
    padding-top: 50px;
}
@media screen and (max-width: 500px){
    .title{
        padding-bottom: 15px;
        padding-top: 15px;
    }
}

.contact{
    padding-bottom: 15px;
}

.iconli{
    display: inline;
    padding-right: 7px;
}
.icon{
    background-color: rgba(1, 43, 85, 0.1);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: center;

}
p{
    color: #597188;
    font-family: bjpg;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 0px;
    margin-top: 20px;
    text-align: center;
    text-transform: none;
}
@media screen and (max-width: 500px){
    p{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0px;
        margin-top: 13px;
    }
}
h1{
    color: #012B55;
    font-family: bjpg;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: center;
    text-transform: none;
}
@media screen and (max-width: 500px){
    h1{
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 7px;
        margin-top: 0px;
    }
}
img{
    width: 49.7%;
    height: 49.3%;
}
@media screen and (max-width: 500px){
    img{
        width: 100%;
        display: block;
        margin-bottom: 5px;
        height: 25%;
    }
}
.nav{
    display: block;
    position: absolute;
    z-index: 1;
    background-color: white;
}
@media screen and (max-width: 500px){
    .nav{
        display: none;
    }
    .sidebar:hover .nav {
        display: inline;
    }
}
.menu{
    display: none;
}
@media screen and (max-width: 500px){
    .menu{
        display: inline;
        margin-left: 200px;
        border: none;
        background-color: white;
    }

}
